.main-section {
    background-color: #FFE194;
    flex: 1;
    align-self: stretch;
    display: flex;
}

.left {
    /* background-color: white; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.right {
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    padding: 20px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(240, 240, 240, 1);
    top: 10vh;
    border: 5px solid white;
    border-radius: 15px;
    padding: 15px;
}

.messages {
    flex: 1;
}

.bottom-bar {
    height: 50px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    background-color: #E8F6EF;
}

.text-input {
    flex: 1;
}

.send-button {
    display: flex;
    width: 100px;
    background-color: #B8DFD8;
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    align-items: center;
    color: #5d726f;
}

.logo {
    width: 75px;
    user-select: none;
}

.buttons-group {
    display: flex;
    flex: 1;
}

.form-button {
    flex: 1;
    margin: 1px;
}

.form-chat {
    display: flex;
    flex: 1;
}

.home-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}

.home-right h3 {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 100;
}

.title {
    color: #ffd876;
    font-weight: 600;
}

.description {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.left-logged-in {
    display: flex;
    flex-direction: column;
}