body {
  overflow-x: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #ffd876;
}

.brand {
  color: #FFE194;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  margin-left: 15px;
  user-select: none;
}